<p id="notice"><%= notice %></p>

<h1>Courseprofesors</h1>

<table>
  <thead>
    <tr>
      <th>Profesor</th>
      <th>Course</th>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courseprofesors.each do |courseprofesor| %>
      <tr>
        <td><%= courseprofesor.profesor %></td>
        <td><%= courseprofesor.course %></td>
        <td><%= courseprofesor.subject %></td>
        <td><%= link_to 'Show', courseprofesor %></td>
        <td><%= link_to 'Edit', edit_courseprofesor_path(courseprofesor) %></td>
        <td><%= link_to 'Destroy', courseprofesor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Courseprofesor', new_courseprofesor_path %>
