<p id="notice"><%= notice %></p>

<p>
  <strong>Profesor:</strong>
  <%= @encuestum.profesor %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @encuestum.subject %>
</p>

<p>
  <strong>Student:</strong>
  <%= @encuestum.student %>
</p>

<p>
  <strong>P1:</strong>
  <%= @encuestum.p1 %>
</p>

<p>
  <strong>P2:</strong>
  <%= @encuestum.p2 %>
</p>

<p>
  <strong>P3:</strong>
  <%= @encuestum.p3 %>
</p>

<p>
  <strong>P4:</strong>
  <%= @encuestum.p4 %>
</p>

<p>
  <strong>P5:</strong>
  <%= @encuestum.p5 %>
</p>

<p>
  <strong>P6:</strong>
  <%= @encuestum.p6 %>
</p>

<p>
  <strong>P7:</strong>
  <%= @encuestum.p7 %>
</p>

<p>
  <strong>P8:</strong>
  <%= @encuestum.p8 %>
</p>

<p>
  <strong>P9:</strong>
  <%= @encuestum.p9 %>
</p>

<p>
  <strong>P10:</strong>
  <%= @encuestum.p10 %>
</p>

<p>
  <strong>P11:</strong>
  <%= @encuestum.p11 %>
</p>

<p>
  <strong>P12:</strong>
  <%= @encuestum.p12 %>
</p>

<p>
  <strong>P13:</strong>
  <%= @encuestum.p13 %>
</p>

<p>
  <strong>P14:</strong>
  <%= @encuestum.p14 %>
</p>

<p>
  <strong>P15:</strong>
  <%= @encuestum.p15 %>
</p>

<p>
  <strong>P16:</strong>
  <%= @encuestum.p16 %>
</p>

<p>
  <strong>P17:</strong>
  <%= @encuestum.p17 %>
</p>

<p>
  <strong>P18:</strong>
  <%= @encuestum.p18 %>
</p>

<p>
  <strong>P19:</strong>
  <%= @encuestum.p19 %>
</p>

<p>
  <strong>P20:</strong>
  <%= @encuestum.p20 %>
</p>

<p>
  <strong>P21:</strong>
  <%= @encuestum.p21 %>
</p>

<p>
  <strong>P22:</strong>
  <%= @encuestum.p22 %>
</p>

<p>
  <strong>P23:</strong>
  <%= @encuestum.p23 %>
</p>

<p>
  <strong>P24:</strong>
  <%= @encuestum.p24 %>
</p>

<p>
  <strong>Bueno:</strong>
  <%= @encuestum.bueno %>
</p>

<p>
  <strong>Mejorar:</strong>
  <%= @encuestum.mejorar %>
</p>

<%= link_to 'Edit', edit_encuestum_path(@encuestum) %> |
<%= link_to 'Back', encuesta_path %>
